body {
  --color-main: #1c4a47;
  --text-primary: #24292f;
  --text-secondary: #667085;
  --text-third: #b2b7c2;

  --border-primary: #e4e4e7;
  --surface-primary: #ffffff;
  --mid-kapptivgreen: #e8edea;
  --surface-secondary: #fafafb;
}
